body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}
#google-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  border-top: 1px solid lightgray;
  background-color: white;
}
html /deep/ .paper-icon-button {
  margin: 0 10px;
}
html /deep/ .paper-field {
  display: block;
  color: #333;
  font-size: 14px;
}
html /deep/ .paper-field iron-icon {
  margin: 8px;
}
html /deep/ .paper-field input {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 4px;
  color: #333;
  font-size: 14px;
}
html /deep/ .paper-field input:focus {
  outline: none;
}
html /deep/ .paper-field input::placeholder {
  color: #b3b3b3;
}
html /deep/ .subheader {
  font-weight: bold;
  color: #673ab7;
  font-size: 14px;
  margin: 20px 15px 0;
  border-top: 1px solid lightgray;
  padding-top: 10px;
}
html /deep/ paper-toolbar {
  background-color: #673ab7 !important;
}
html /deep/ paper-toolbar iron-icon,
html /deep/ paper-toolbar input,
html /deep/ paper-toolbar paper-icon-button {
  color: white !important;
}
html /deep/ [drawer] paper-toolbar {
  background-color: #512da8 !important;
  color: white;
}
html /deep/ [drawer] /deep/ #mainContainer {
  background-color: #f5f5f5;
}
